# Development
node_modules
npm-debug.log
.npm
.git
.gitignore

# Next.js
.next
.turbo
out

# Testing
coverage

# Environment
.env*
!.env.example

# Editor files
.idea
.vscode
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db